/* header */
header{
    width: 100%;
    height: 80px;
    background-color: #000;
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
  
  /* 스크롤바 너비 25px */
  .header_wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;
    
    
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .logo img{
    width: 200px;
  }
  
  .menu_wrap{
    width: 800px;
    display: flex;
    /* justify-content: space-between; */
    
    /* background-color: lightcoral; */
  }
  
  .menu_wrap>li{
    display: inline-block;
    width: 200px;
    text-align: center;
    /* height: 100px; */
    /* background-color: aqua; */
    position: relative;
  }
  
  .menu_wrap>li a{
    font-size: 22px;
    color: #fff;
  }
  
  
  
  
  .nav_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav_wrap a{
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }
  
  .nav_wrap img{
    width: 25px;
    margin: 15px;
    /* align-items: center; */
  }
  
  .menu_wrap>li:hover .submenu {
    height: 370px;
  }
  
  /* -------------------------------- */
  .box{
    width: 100%;
    /* height: 400px; */
    height: 0;
    background-color: #F2F2F2;
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    padding-left: 55px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.3s;
  }
  
  .submenu{
    /* 7ea */
    width: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    
  }
  
  .submenu li{
    width: 100%;
    line-height: 55px;
    font-size: 16px;
    text-align: center;
  
  }

  
  /* 반응형 1300px */
@media all and (max-width : 1300px){
  .menu_wrap{
    display: none;
  }
}